.buttonAction {
  cursor: pointer;
  border-radius: 10px;
  background-color: #1da347;
  color: white;
  font-size: 26px;
  font-weight: 500;
  border-style: none;
  text-align: center;
  padding: 16px 25px 13px 25px;
  max-width: 100px;
}

.buttonAction:hover {
  background-color: #1f1f1f;
  box-shadow: inset 0px 0px 0px 2px #1da347;
  transition: all 0.2s ease-in-out;
}

.buttonAction:active {
  transform: scale(1.04);
  transition: all 0.2s ease-in-out;
}

.buttonAction:disabled {
  background-color: #1f1f1f;
  box-shadow: inset 0px 0px 0px 2px #52525b;
}
