.actionsWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.resetIcon {
  width: 45%;
}

.resetIcon path {
  fill: white;
}

.deleteAllIcon {
  width: 45%;
}

.deleteAllIcon path {
  fill: white;
}

.deleteAllIconDisabled path {
  fill: #52525b;
}
