@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.App {
  text-align: center;
}

.isEmptyText {
  color: aliceblue;
  font-weight: 400;
  font-size: 22px;
  margin-top: 70px;
}
.todoWrapper {
  background-color: #1f1f1f;
  border: solid 1.8px #52525b;
  border-radius: 20px;
  min-height: 400px;
  width: 778px;
  margin: 100px auto;
  padding: 26px 60px 70px 60px;
  position: relative;
}

.titleTodo {
  font-family: "Inter", serif;
  font-size: 49px;
  font-weight: 400;
  color: #1da347;
  margin-bottom: 26px;
}

.devider {
  height: 1.8px;
  width: 100%;
  background-color: #52525b;
  position: absolute;
  left: 0;
}
